{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sua lista de jogos</title>
    <link rel="stylesheet" href="{% static 'liststyle.css' %}">
</head>
<body>
    <div class="titulo">Sua Lista de Jogos</div>

    <a href="{% url 'search_page' %}" class="voltar-jogos">Voltar para os jogos</a> <!-- url e o destiono-->

    {% if games %} 
        <div class="config-grid"> 
            {% for game in games %}
                <div class="cards-jogos"> 
                    {% if game.cover_url %}
                        <img src="{{ game.cover_url }}" alt="{{ game.name }}" class="capa-jogo"> 
                    {% endif %}
                    <div class="legendas"> 
                        <div class="nome-jogo">{{ game.name }}</div>
                        <a href="{% url 'remove_to_list' %}?game_name={{ game.name }}" class="apagar">Apagar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Você ainda não adicionou nenhum jogo.</p>
    {% endif %}
</body>
</html>