<!DOCTYPE html>
<html>
    <head>
        <title>Sua lista de jogos</title>
    </head>
    <body>
        <h1>Seus Jogos Favoritados</h1>
        <p>Token do usuário: {{ user_token }}</p>
        {% if games %}
            {% for game in games %}
            <div class="game">
                {% if game.cover_url %}
                    <img src="{{ game.cover_url }}" alt="{{ game.name }}">
                {% endif %}
                {{ game.name }}
                <a href="{% url 'remove_to_list' %}?game_name={{ game.name }}">Remover</a>
            </div>
            {% endfor %}
        {% else %}
            <p>Você ainda não adicionou nenhum jogo.</p>
        {% endif %}
    </body>
</html>