<!DOCTYPE html>
<html>
    <head>
        <title>BuscaFast</title>
    </head>
    <body>
        <h1>Buscar Jogos</h1>
        <form method="GET" action="{% url 'search_page'%}"> <!-- Usando o metodo de Busca GET, Action envia os dados pegando a url associando o nome  -->
            <input 
                type="text"
                id="game_name"
                name="game_name"
                maxlength="80"
                placeholder="Digite o nome do jogo"
                required 
            > <!-- Definindo o campo de busca, maxlength e o tamanho maximo de caracteres, o id vai ser colocando em views.py-->
        </form> 
        <button type="submit">Buscar</button> <!-- enviando para a url definida -->


        <p>Result raw: {{results}}</p> <!-- So um debug para eu ver como ta a lista -->
        {% if results %} <!-- quando views retorna o contexto query e results -->
            <h2>Resultados para "{{ query }}"</h2> 
            <ul>
                {% for game in results %} <!-- Iterando na lista que o contexto retorna-->
                    <li>
                        {% if game.cover_url%} <!-- se na lista(results) achar cover_url-->
                            <img src="{{ game.cover_url }}" alt="{{ game.name }}" style="width:100px; height:auto;">
                        {% endif %}
                        <strong>{{ game.name }}</strong> - Nota: {{ game.rating }}
                    </li>
                {% endfor %}
            </ul>
        {% else %} <!-- caso nao encontre nenhum jogo ou outro erro-->
            <p>Nenhum Jogo encontrado para "{{ query }}"</p>
        {% endif %}

    </body>
</html>